/*banner starts*/
.banner{
    width: 100%;
    height: 135px;
    position: relative;
    background: url("../img/hero_bg.png");
    background-size: cover;
    background-position: center;
}



/*category starts */
.category{
    width: 100%;
    position: relative;
    margin-top: 15px;
}
.category  h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.category .container .cat-container{
    width: 70px;
}

.category .container .cat-container .category-media{
     border-radius: 50%;
     overflow: hidden;
}
.category .container .cat-container .category-media img{
    width: 100%;
}

.category .container .cat-container .category-content{
    margin-top: 10px;
}

.category .container .cat-container .category-content h4{
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    text-align: center;
}

.category .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recomandations{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px;
}

.recomandations .container .title{
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
}


.recomandations .row .col-md-4{
    margin-bottom: 20px;
}

.recomandations .product-container{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 1rem;
}

.recomandations .product-container .product-media{
    width: 100%;
    height: 240px;
    position: relative;
    background-color: #fff;
    
}   

.recomandations .product-container .product-media img:first-child{
    opacity: 1;
    position: relative;
}
.recomandations .product-container .product-media img:last-child{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.recomandations .product-container .product-media img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s;
    border-radius: 10px;
}

.recomandations .product-container .product-media img:last-child:hover{
    opacity: 2;
}

.recomandations .product-container .product-details{
    position: relative;
}

.recomandations .product-container .product-details .product-name{
    margin-bottom: 0.4rem;
    font-size: 1.3rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recomandations .product-container .product-details .product-name a{
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.recomandations .product-container .product-details .product-name a:hover{
    color: #00DF72;
}

.recomandations .product-container .product-details .price{
    margin-right: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: 700;
}
.recomandations .product-container .product-details .address{
    font-size: 12px;
}

.bottom-banner{
    width: 100%;
    height: 83px;
    position: relative;
}

.bottom-banner img{
    width: 100%;
    height: 100%;
    
}
